@import '@styles/variables'
@import '@styles/breakpoints'

html
  background-color: $primary-100

html,
body
  padding: 0
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  -ms-overflow-style: none
  overflow-x: hidden !important
  color: $secondary-100
  min-width: 320px
  height: 100%

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0

button
  padding: 0
  margin: 0
  background-color: transparent
  box-shadow: none
  outline: none
  border: none
  cursor: pointer

#__next
  min-height: 100%